.cabecalho{
width: 360px;
height: 67px;
background-color: blue;
display: flex;
flex-direction: row;
justify-content: space-between;


}

 .primeira_secao{
    width: 360;
    height: 222;
    background-color: rgb(0, 0, 0);
 }

 .segunda_secao{
   width: 360;
   height: 223;
   background-color: rgb(0, 253, 219);
}
.terceira_secao{
    width: 360;
    height: 190;
    background-color: rgb(232, 0, 253);
 }

